* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h2 {
  font-size: 1.5rem;
}

/* VisualSlider */
.visual_box {
  position: relative;
  margin-top: -7px; /* ?? */
}
.visual_box .visual_slide {
  height: 500px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #495057;
}
.visual_box .visual_button {
  position: absolute;
  top: 45%;
  padding: 10px;
  font-size: 40px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.visual_box .visual_button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.visual_box .prev {
  left: 40px;
}
.visual_box .next {
  right: 40px;
}

/* RecoList, NnHList, SaleList, KeyList, EventList */
.main_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_list li {
  cursor: pointer;
  margin-top: 10px;
  /* margin-inline-start: 2rem; */
  /* width: 350px;
  height: 400px;
  justify-content: center;
  align-items: center; */
}
.main_list li p {
  margin-top: 0.8rem;
  font-weight: bold;
}
.main_list li span {
  display: block;
  margin-top: -0.6rem; /* span tag에서는 display: block이 필요함 */
}
.main_list .discount_rate {
  display: inline;
}

.events {
  justify-content: space-evenly;
}

.keywords_box {
  position: relative;
  overflow: hidden;
  height: 210px;
}
.keywords_box .keywords {
  position: absolute;
  width: 2000px;
  transition: all 0.4s;
}
.keywords_box .keywords li {
  float: left;
  width: 180px;
  height: 210px;
  margin: 0 1px;
  background-color: #495057;
  text-align: center;
  line-height: 210px;
  cursor: pointer;
}
.keywords_box .keywords li span {
  padding: 5px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.keywords_button {
  opacity: 0;
  position: absolute;
  z-index: 10;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  cursor: pointer;
}
.keywords_button.left {
  top: 50%;
  left: 0;
  margin-top: -1rem;
}
.keywords_button.right {
  top: 50%;
  right: 0;
  margin-top: -1rem;
}
.keywords_box:hover .keywords_button {
  opacity: 1;
  transition: all 0.5s;
}
