.sns_login {
  width: 200px;
  margin: 0 auto;
}
.sns_login button {
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background: url('../images/bg_sns.png') no-repeat;
  margin: 0.3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
/* .sns_login .kakao {
} */
.sns_login .naver {
  background-position-y: -80px;
}
.sns_login .google {
  background-position-y: -120px;
}
.sns_login .facebook {
  background-position-y: -40px;
}
