.info_container {
  margin-top: 30px;
  border-top: 3px solid #343a40;
}
.info_title {
  padding: 20px 0;
  font-weight: bold;
  border-bottom: 1px solid #ced4da;
}
.info {
  padding: 20px 0;
}
.info .info_detail {
  line-height: 40px;
}
.info .info_detail > span {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}
