* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 0 5rem;
  font-size: 0.725rem;
  letter-spacing: -0.5px;
}
.footer .company {
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
}
.footer ul {
  margin-bottom: 1.5rem;
}
.footer ul li {
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
}
.footer p button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: underline;
  margin-left: 4px;
  cursor: pointer;
}
.footer .copyright {
  margin-top: 2rem;
}
